# Eat Safe, Love

## Notebook Set Up

In [3]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [4]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [5]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [6]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [7]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [8]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}

# Use count_documents to display the number of documents in the result
print("Number of documents in result:", establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

Number of documents in result: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('656963f5b49d0399db884544'),
 'geocode': {'latitude': Decimal128('50.769705'),
             'longitude': Decimal128('0.27694')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [9]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query)
df1 = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print("Number of rows in result: ", len(df1))

# Display the first 10 rows of the DataFrame
df1.head(10)

Number of rows in result:  41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,656963f5b49d0399db884544,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.27694,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,656963f5b49d0399db8848c5,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,656963f5b49d0399db884bcf,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.15927,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,656963f5b49d0399db884dbd,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.10202,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,656963f5b49d0399db884dca,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,656963f5b49d0399db88576c,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,656963f5b49d0399db88598c,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.7121671,51.5350065,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,656963f5b49d0399db886eb7,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,656963f5b49d0399db8872fb,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146449998021126,51.1859474182129,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,656963f6b49d0399db887b0e,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.57005,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [10]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex': "London"}, 'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
print("Number of documents in result:", establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

Number of documents in result: 33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('656963f5b49d0399db885f60'),
 'geocode': {'latitude': Decimal128('51.369321'),
             'longitude': Decimal128('0.508551')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [11]:
# Convert the result to a Pandas DataFrame
results = establishments.find(query)
df2 = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print("Number of rows in result: ", len(df2))

# Display the first 10 rows of the DataFrame
df2.head(10)

Number of rows in result:  33

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,656963f5b49d0399db885f60,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,656963f5b49d0399db886283,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249255999922752,51.1236228942871,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,656963f5b49d0399db886dd2,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,656963f6b49d0399db887bd2,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346336990594864,51.4640655517578,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,656963f6b49d0399db887bd3,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,656963f6b49d0399db8882db,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,656963f6b49d0399db88a3e7,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,656963f6b49d0399db88a7b0,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,656963f6b49d0399db88a7ca,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,656963f6b49d0399db88a7cb,295107,0,PI/000020749,City Bar & Grill,Restaurant/Cafe/Canteen,1,London City Airport (Airside),London,,...,0.0479655750095844,51.5041122436523,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [12]:
# Find latitude and longitude values for Penaug Flavours.
geocode = establishments.find({'BusinessName': 'Penang Flavours'}, {'geocode': 1})
pprint(geocode[0])

{'_id': ObjectId('65696403fa534d5489900f86'),
 'geocode': {'latitude': Decimal128('51.49014200'),
             'longitude': Decimal128('0.08384000')}}

In [13]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
# latitude = float(geocode[0]['geocode']['latitude'])
latitude = 51.49014200
high_latitude = latitude + degree_search
low_latitude = latitude - degree_search
# longitude = float(geocode[0]['geocode']['longitude'])
longitude = 0.08384000
high_longitude = longitude + degree_search
low_longitude = longitude - degree_search

query = {'geocode.latitude': {'$gte': low_latitude}, 
         'geocode.latitude': {'$lte': high_latitude}, 
         'geocode.longitude': {'$gte': low_longitude}, 
         'geocode.longitude': {'$lte': high_longitude},
         'RatingValue': 5}
sort = [('scores.Hygiene', 1)]

# Print the results
# print(high_latitude)
# print(low_latitude)
# print(high_longitude)
# print(low_longitude)
# pprint(establishments.find_one(query))
pprint(list(establishments.find(query).sort(sort).limit(5)))

[{'AddressLine1': '59 High Street',
  'AddressLine2': 'Edenbridge',
  'AddressLine3': 'KENT',
  'AddressLine4': '',
  'BusinessName': 'Magic Wok',
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'ChangesByServerID': 0,
  'Distance': 4637.314456896255,
  'FHRSID': 266978,
  'LocalAuthorityBusinessID': '11/00025/MIXED',
  'LocalAuthorityCode': '187',
  'LocalAuthorityEmailAddress': 'environmental.health@sevenoaks.gov.uk',
  'LocalAuthorityName': 'Sevenoaks',
  'LocalAuthorityWebSite': 'http://www.sevenoaks.gov.uk/',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'TN8 5AL',
  'RatingDate': '2022-03-16T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('656963f6b49d0399db887ca1'),
  'geocode': {'latitude': Decimal128('51.196736'),
              'longitude': Decimal128('0.065179')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/266978',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': '9 Hartfield Road',
  'AddressLine2': 'Forest Row',
  'AddressLine3': 'East Sussex',
  'AddressLine4': '',
  'BusinessName': 'Roochi Ltd',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4634.823529709642,
  'FHRSID': 162872,
  'LocalAuthorityBusinessID': 'PI/000003806',
  'LocalAuthorityCode': '107',
  'LocalAuthorityEmailAddress': 'envhealth@rother.gov.uk',
  'LocalAuthorityName': 'Wealden',
  'LocalAuthorityWebSite': 'http://www.wealden.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RH18 5DN',
  'RatingDate': '2021-07-28T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('656963f5b49d0399db887514'),
  'geocode': {'latitude': Decimal128('51.097521'),
              'longitude': Decimal128('0.034461')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/162872',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': 'Wolf House',
  'AddressLine2': 'Wolfs Row',
  'AddressLine3': '',
  'AddressLine4': 'Limpsfield',
  'BusinessName': 'Wolfe House Resid. Home',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'ChangesByServerID': 0,
  'Distance': 4641.271316270499,
  'FHRSID': 105360,
  'LocalAuthorityBusinessID': '36199',
  'LocalAuthorityCode': '313',
  'LocalAuthorityEmailAddress': 'fsa_enforcement@tandridge.gov.uk',
  'LocalAuthorityName': 'Tandridge',
  'LocalAuthorityWebSite': 'http://www.tandridge.gov.uk/',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RH8 0EB',
  'RatingDate': '2022-06-14T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('656963f6b49d0399db888572'),
  'geocode': {'latitude': Decimal128('51.255431'),
              'longitude': Decimal128('0.015813')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/105360',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': '1 Winterton Court',
  'AddressLine2': 'Market Square',
  'AddressLine3': 'Westerham',
  'AddressLine4': 'Kent',
  'BusinessName': 'Sultan Kebab House',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'ChangesByServerID': 0,
  'Distance': 4639.681032207483,
  'FHRSID': 266897,
  'LocalAuthorityBusinessID': '09200/2000/2/000',
  'LocalAuthorityCode': '187',
  'LocalAuthorityEmailAddress': 'environmental.health@sevenoaks.gov.uk',
  'LocalAuthorityName': 'Sevenoaks',
  'LocalAuthorityWebSite': 'http://www.sevenoaks.gov.uk/',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'TN16 1AL',
  'RatingDate': '2022-03-03T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('656963f6b49d0399db88812b'),
  'geocode': {'latitude': Decimal128('51.266922'),
              'longitude': Decimal128('0.070589')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/266897',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': 'North Hall Farm',
  'AddressLine2': 'North Hall Lane',
  'AddressLine3': 'Fletching',
  'AddressLine4': 'East Sussex',
  'BusinessName': 'Northall CPC',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4631.9412296579985,
  'FHRSID': 184934,
  'LocalAuthorityBusinessID': 'PI/400005256',
  'LocalAuthorityCode': '107',
  'LocalAuthorityEmailAddress': 'envhealth@rother.gov.uk',
  'LocalAuthorityName': 'Wealden',
  'LocalAuthorityWebSite': 'http://www.wealden.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'TN22 3SA',
  'RatingDate': '2022-03-07T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('656963f5b49d0399db886da2'),
  'geocode': {'latitude': Decimal128('51.006613'),
              'longitude': Decimal128('0.022783')},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/184934',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}}]

In [14]:
# Convert result to Pandas DataFrame
results = establishments.find(query).sort(sort).limit(5)
df3 = pd.json_normalize(results)
df3

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,656963f6b49d0399db887ca1,266978,0,11/00025/MIXED,Magic Wok,Other catering premises,7841,59 High Street,Edenbridge,KENT,...,0.065179,51.196736,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,656963f5b49d0399db887514,162872,0,PI/000003806,Roochi Ltd,Restaurant/Cafe/Canteen,1,9 Hartfield Road,Forest Row,East Sussex,...,0.034461,51.097521,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,656963f6b49d0399db888572,105360,0,36199,Wolfe House Resid. Home,Caring Premises,5,Wolf House,Wolfs Row,,...,0.015813,51.255431,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,656963f6b49d0399db88812b,266897,0,09200/2000/2/000,Sultan Kebab House,Takeaway/sandwich shop,7844,1 Winterton Court,Market Square,Westerham,...,0.070589,51.266922,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,656963f5b49d0399db886da2,184934,0,PI/400005256,Northall CPC,Pub/bar/nightclub,7843,North Hall Farm,North Hall Lane,Fletching,...,0.022783,51.006613,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [15]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}
# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': "$LocalAuthorityName", 'count': { '$sum': 1 }}}
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': -1 }}

pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print("Number of Local Authorities in result: ", len(results))

# Print the first 10 results
pprint(results[0:10])

Number of Local Authorities in result:  55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [17]:
# Convert the result to a Pandas DataFrame
df4 = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print("Number of rows in result: ", len(df4))

# Display the first 10 rows of the DataFrame
df4.head(10)

Number of rows in result:  55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542